* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.22px; 
  color: #292F36
}

.h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292F36;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  background: #292F36;
  border: 2px solid #292F36;
  border-radius: 18px;
  padding: 18px 20px 17px 34px;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #FFFFFF;
}

.button:active{
  background-color: #191c1f;
  transform: scale(0.98);
}

.link {
  text-decoration: none;
  color: #4D5053;
}

.container {
  width: 100vw;
  height: 100vw;
  background-color: #fff;
}

.header {
  width: 100%;
  min-height: 106px;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
}

.header-box{
  justify-content: space-between;
  padding-top: 25px;
}

.nav__list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.nav__list__link {
  color: #292F36;
}

.home {
  color: #CDA274;
}

.header-menu{
  display: none;
}

.main {
  width: 100%;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4D5053;
}

.main-intro{
  max-width: 100%;
  background-image: url(../assets/images/main-background.png);
  background-size: 100% 831px;
  background-repeat: no-repeat;
}

.main-intro-box {
  padding: 188px 0 260px 5px;
  flex-direction: column;
  align-items: flex-start;
}

.main-intro-box__heading{
  max-width: 595px;
  margin-bottom: 19px;
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: 0.22px;
}

.main-intro-box__txt{
  max-width: 577px;
  margin-bottom: 35px;
}

.components-box{
  padding: 175px 0;
  gap: 15px;
}

.components-container{
  max-width: 30%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.components-container__txt{
  margin-top: 17px;
  margin-bottom: 68px;
}

.components-container__btn{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #4D5053;
  cursor: pointer;
}

.components-container__btn:active{
  background-color: transparent;
}

.estimate-box{
  margin-bottom: 140px;
  justify-content: center;
  gap: 77px;
}

.description{
  max-width: 531px;
}

.description__txt{
  margin-top: 42px;
  margin-bottom: 40px;
}

.phone{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.phone__btn {
  width: 93px;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4F0EC;
  border: none;
  border-radius: 50%;
}

.phone-description__number{
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.22px;
  color: #4D5053;;
}

.estimate__img{
  max-width: 592px;
}

.feedbacks-box{
  padding: 103px 45px 121px;
  background: #F4F0EC;
  border-radius: 70px;
}

.feedbacks-box__heading {
  max-width: 479px;
  margin-bottom: 47px;
  text-align: center;
  font-size: 45px;
  line-height: 58px;
}

.feedbacks-box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.feedbacks-box-container__item{
  max-width: 354px;
  padding: 50px 60px 45px 35px;
  background-color: #fff;
  border-radius: 30px;
}

.author {
  display: flex;
  gap: 20px ;
}

.author-description__name{
  text-align: left;
}

.author-description__place{
  font-size: 18px;
  line-height: 27px;
}

.feedbacks-box-container__item__txt {
  font-size: 20px;
  line-height: 30px;
}

.services-box{
  padding-top: 140px;
  padding-bottom: 113px;
  gap: 120px;
}

.projects-header{
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.projects-header__heading{
  font-size: 47px;
  line-height: 62px;
}

.projects-box{
  margin-top: 71px;
  margin-bottom: 140px;
  justify-content: flex-start;
}

.portfolio-container {
  gap: 20px;
}

.portfolio-container-item__footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-container-item__footer__description__heading{
  margin-top: 24px;
  line-height: 37.5px;
  text-align: left;
}

.portfolio-container-item__footer__btn {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: #F4F0EC;
  cursor: pointer;
}

.advantages{
  background-color: #F4F0EC;
}

.advantages-box{
  padding: 140px 0;
  justify-content: space-evenly;
  gap: 55px;
}

.advantages-item{
  padding-right: 72px;
  text-align: center;
}

.advantages-item:nth-child(n+1){
  border-right: 1px solid #CDA274;
}

.advantages-item:last-child{
  padding-right: 0;
  border: none;
}

.advantages-item__heading{
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 85px;
  line-height: 127.5px;
  letter-spacing: 1.7px;
  color: #CDA274;
}

.blogs{
  margin-top: 143px;
  margin-bottom: 141px;
}

.blogs__heading{
  margin-bottom: 21px;
  font-size: 48px;
  line-height: 62.4px;
  text-align: center;
}

.blogs__txt{
  text-align: center;
  margin-bottom: 70px;
}

.examples-box {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2, 515px);
  gap: 40px 20px;
}

.interior-examples{
  padding: 21px 21px 41px 21px;
  border: 1px solid #E7E7E7;
  border-radius: 62px;
}

.images-box{
  position: relative;
}

.images-box__name{
  position: absolute;
  bottom: 30px;
  left: 24px;
  padding: 10px;
  border-radius: 8px 8px 8px 0px;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.interior-examples__heading{
  max-width: 338px;
  margin-bottom: 20px;
  line-height: 35px;
  text-align: left;
}

.interior-examples__footer{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
}

.interior-examples__footer__btn{
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: #F4F0EC;
  cursor: pointer;
}

.join-us-box{
  flex-direction: column;
  padding: 100px;
  border-radius: 70px;
  color: #FFFFFF;
  background-color: #292F36;
}

.join-us-box__heading{
  margin-bottom: 9px;
  line-height: 75px;
  color: #fff;
}
.join-us-box__txt{
  margin-bottom: 31px;
}

.join-us-box__btn{
  padding: 21px 16px 16px 34px;
  border: none;
  letter-spacing: 0.22px;
  background-color: #cda274;
}

.join-us-box__btn:active{
  background-color: #b37c42;
}

.footer {
  width: 100%;
  font-family: "Jost",sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4D5053;
}

.footer-box{
  margin-top: 129px;
  margin-bottom: 111px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
}

.media-box{
  max-width: 326px;
}

.media-box__txt{
  margin-top: 23px;
  margin-bottom: 30px;
}

.social-media{
  display: flex;
  gap: 40.16px;
}

.footer-box__item__heading{
  margin-bottom: 21px;
  text-align:  left;
}

.pages__list,
.explore__list{
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
}

.requisites{
  max-width: 321px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.requisites .h3{
  margin-bottom: 0;
}

.footer-footer{
  padding-top: 35px;
  border-top: 1px solid #F5F5F5;
}

.footer-footer-box{
  gap: 15px;
}

.footer-footer__txt:nth-child(even){
  color: #CDA274;
}

@media screen and (max-width: 1150px){
  .examples-box {
    display: flex;
    gap: 20px;
  }
}

@media screen and (max-width: 480px){
  .box{
    max-width: 400px;
  }
  
  .heading {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }
  
  .h3 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.22px;
  }
  
  .button{
    padding: 5px 15px 5px 20px;
    gap: 15px;
    font-family: "Jost", sans-serif;
    font-size: 12px;
    line-height: 22px;
  }
  
  .button__img{
    height: 15px;
  }
  
  .header {
    min-height: 60px;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.2px;
  }

  .header-box{
    padding-top: 15px;
  }
  
  .logo__img{
    height: 30px;
  }

  .header-nav{
    display: none;
  }

  .header-menu{
    display: block;
  }

  .header-menu__txt{
    font-size: 18px;
    color: #CDA274;
  }

  .header-menu__txt:active{
    transform: scale(0.9);
  }

  .main {
    font-size: 14px;
    line-height: 20px;
  }
  
  .main-intro{
    background-size: cover;
  }
  
  .main-intro-box {
    padding: 50px 0 20px 10px;
  }
  
  .main-intro-box__heading{
    width: 70%;
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.2px;
  }
  
  .main-intro-box__txt{
    max-width: 55%;
    margin-bottom: 15px;
  }
  
  .components-box{
    padding-top: 50px;
    padding-bottom: 70px;
    flex-direction: column;
    gap: 25px;
  }
  
  .components-container{
    max-width: 100%;
    padding: 15px 40px;
    border-bottom: 1px solid #CDA274;
    text-align: center;
  }
  
  .components-container__txt{
    margin: 17px 0;
  }
  
  .components-container__btn{
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.36px;
    color: #4D5053;
  }
  
  .components-container__btn__img{
    height: 15px;
  }

  .estimate-box{
    margin-bottom: 80px;
  }
  
  .description{
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .description__txt{
    margin: 20px 0;
    text-align: center;
  }
  
  .phone,
  .estimate__img{
    display: none;
  }

  .feedbacks-box{
    padding: 60px 35px 80px;
    background: #F4F0EC;
    border-radius: 70px;
  }
  
  .feedbacks-box__heading {
    max-width: 80%;
  }

  .feedbacks-box-container{
    gap: 25px;
  }
  
  .feedbacks-box-container__item{
    max-width: 354px;
    padding: 25px;
  }
  
  .author {
    align-items: center;
  }
  
  .author-box__img{
    height: 50px;
  }

  .author-description__place{
    font-size: 14px;
    line-height: 27px;
  }
  
  .feedbacks-box-container__item__txt {
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
  }
  
  .services-box{
    padding: 80px 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  .services-box__logo{
    height: 25px;
  }

  .projects-box{
    margin: 45px auto;
  }

  .portfolio-container{
    align-items: flex-start;
    gap: 25px 70px;
  }

  .portfolio-container-item{
    max-width: 150px;
  }

  .portfolio-container-item__img{
    max-width: 150px;
    border-bottom-left-radius: 30px;
  }

  .portfolio-container-item__footer__description{
    max-width: 70%;
    font-size: 14px;
  }

  .portfolio-container-item__footer__description__heading{
    margin-top: 10px;
  }
  
  .portfolio-container-item__footer__btn {
    width: 30px;
    height: 30px;
  }
  
  .advantages-box{
    padding: 60px 0;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  .advantages-item{
    padding-right: 20px;
    text-align: center;
  }
  
  .advantages-item:nth-child(n+1){
    border-right: none;
  }
    
  .advantages-item__heading{
    font-size: 30px;
    line-height: 30px;
  }
  
  .blogs{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .blogs__heading{
    margin-bottom: 15px;
    line-height: 20px;
  }
  
  .blogs__txt{
    margin-bottom: 20px;
  }
  
  .interior-examples{
    max-width: 300px;
    padding: 15px 15px 35px 15px;
    border-radius: 45px;
  }

  .images-box__img{
    max-width: 270px;
  }

  .images-box__name{
    font-size: 14px;
  }
  
  .interior-examples__heading{
    max-width: 80%;
    line-height: 20px;
  }
  
  .interior-examples__footer{
    font-size: 14px;
  }
  
  .interior-examples__footer__btn{
    width: 30px;
    height: 30px;
  }
  
  .join-us-box{
    padding: 50px;
  }

  .join-us-box__txt{
    margin-bottom: 20px;
  }
    
  .footer {
    font-size: 16px;
    line-height: 20px;
  }
  
  .footer-box{
    margin-top: 60px;
    margin-bottom: 70px;
    display: flex;
    gap: 50px;
  }
  

  .media-box__logo{
    max-width: 80px;
  }

  .media-box__txt{
    margin-top: 15px;
    margin-bottom: 20px;
  }
  

  .pages,
  .explore {
    display: none;
  }
  
  .requisites{
    gap: 15px;
  }
  
  
  .footer-footer-box{
    flex-direction: column;
    gap: 15px;
  }
}