* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.22px; 
  color: #292F36
}

.h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292F36;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  background: #292F36;
  border: 2px solid #292F36;
  border-radius: 18px;
  padding: 18px 20px 17px 34px;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #FFFFFF;
}

.button:active{
  background-color: #191c1f;
  transform: scale(0.98);
}

.container {
  width: 100vw;
  height: 100vw;
  display: grid;
  grid-template-areas: "header"
                        "main"
                        "footer";
  grid-template-rows: 106px 1fr 690px;
  background-color: #fff;
}

.header {
  width: 100%;
  grid-area: header;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
}

.header-box{
  justify-content: space-between;
  padding-top: 25px;
}

.nav__list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.nav__list__link {
  text-decoration: none;
  color: #292F36;
}

.home {
  color: #CDA274;
}

.main {
  width: 100%;
  grid-area: main;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4D5053;
}

.main-intro{
  max-width: 100%;
  background-image: url(../assets/images/main-background.png);
  background-size: 100% 831px;
  background-repeat: no-repeat;
}

.main-intro-box {
  padding: 188px 0 260px 5px;
  flex-direction: column;
  align-items: flex-start;
}

.main-intro-box__heading{
  width: 50%;
  margin-bottom: 19px;
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: 0.22px;
}

.main-intro-box__txt{
  margin-bottom: 35px;
}

.components-container{
  padding-top: 175px;
  padding-bottom: 170px;
}

.components-box{
  max-width: 33%;
  padding: 0 40px;
  text-align: center;
}

.components-box__txt{
  margin-top: 17px;
  margin-bottom: 68px;
}

.components-box__btn{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #4D5053;
}

.estimate-box{
  gap: 5px;
  margin-bottom: 140px;
}

.description{
  max-width: 50%;
  padding-right: 70px;
}

.description__txt{
  margin-top: 42px;
  margin-bottom: 40px;
}

.phone{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.phone__btn {
  width: 93px;
  height: 93px;
  background: #F4F0EC;
  border: none;
  border-radius: 50%;
}

.phone-description__number{
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.22px;
  color: #4D5053;;
}

.feedbacks-box{
  padding: 103px 51px 121px;
  background: #F4F0EC;
  border-radius: 70px;
}

.feedbacks-box__heading {
  max-width: 479px;
  margin-bottom: 47px;
  text-align: center;
  font-size: 45px;
  line-height: 58px;
}


.feedbacks-box-container{
  display: flex;
  gap: 18px;
}

.feedbacks-box-container__item{
  padding: 50px 60px 45px 35px;
  background-color: #fff;
  border-radius: 30px;
}

.author {
  display: flex;
  gap: 20px ;
}

.author-description__name{
  text-align: left;
}

.author-description__place{
  font-size: 18px;
  line-height: 27px;
}

.feedbacks-box-container__item__txt {
  font-size: 20px;
  line-height: 30px;
}

.services-box{
  margin-top: 140px;
  margin-bottom: 113px;
  justify-content: space-around;
}

.projects-header{
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.projects-header__heading{
  font-size: 47px;
  line-height: 62px;
}

.projects-box{
  margin-top: 71px;
  margin-bottom: 140px;
  justify-content: flex-start;
}

.portfolio {
  gap: 20px;
}

.portfolio-item__footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-item__footer__description__heading{
  margin-top: 24px;
  line-height: 37.5px;
  text-align: left;
}

.portfolio-item__footer__btn {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: #F4F0EC;
  cursor: pointer;
}

.advantages{
  background-color: #F4F0EC;
}

.advantages-box{
  padding: 140px 0;
  justify-content: space-evenly;
  gap: 55px;
}

.advantages-item{
  padding-right: 72px;
  text-align: center;
}

.advantages-item:nth-child(n+1){
  border-right: 1px solid #CDA274;
}

.advantages-item:last-child{
  padding-right: 0;
  border: none;
}

.advantages-item__heading{
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 85px;
  line-height: 127.5px;
  letter-spacing: 1.7px;
  color: #CDA274;
}

.blogs{
  margin-top: 143px;
  margin-bottom: 141px;
}

.blogs__heading{
  margin-bottom: 21px;
  font-size: 48px;
  line-height: 62.4px;
  text-align: center;
}

.blogs__txt{
  text-align: center;
  margin-bottom: 70px;
}

.examples-box {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,minmax(515px, 1fr));
  gap: 40px 20px;
}

.interior-examples{
  padding: 21px 21px 41px 21px;
  border: 1px solid #E7E7E7;
  border-radius: 62px;
}

.images-box{
  position: relative;
}

.images-box__name{
  position: absolute;
  bottom: 30px;
  left: 24px;
  padding: 10px;
  border-radius: 8px 8px 8px 0px;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.interior-examples__heading{
  max-width: 338px;
  margin-bottom: 20px;
  line-height: 35px;
  text-align: left;
}

.interior-examples__footer{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
}

.interior-examples__footer__btn{
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: #F4F0EC;
  cursor: pointer;
}

.join-us-box{
  flex-direction: column;
  padding: 100px 333px;
  border-radius: 70px;
  color: #FFFFFF;
  background-color: #292F36;
}

.join-us-box__heading{
  margin-bottom: 9px;
  line-height: 75px;
  color: #fff;
}
.join-us-box__txt{
  margin-bottom: 31px;
}

.join-us-box__btn{
  padding: 21px 16px 16px 34px;
  border: none;
  letter-spacing: 0.22px;
  background-color: #cda274;
}

.join-us-box__btn:active{
  background-color: #b37c42;
}

.footer {
  width: 100%;
  grid-area: footer;
  font-family: "Jost",sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4D5053;
}

.footer-box{
  margin-top: 129px;
  margin-bottom: 111px;
  display: grid;
  grid-template-columns: 326px 114px 124px 321px;
  align-items: start;
  justify-content: space-around;
}

.media-box__txt{
  margin-top: 23px;
  margin-bottom: 30px;
}

.social-media{
  display: flex;
  gap: 40.16px;
}

.footer-box__item__heading{
  margin-bottom: 21px;
  text-align:  left;
}

.pages__list,
.explore__list{
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
}

.pages__list__link,
.explore__list__link{
  text-decoration: none;
  color: #4D5053;
}

.requisites{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.requisites .h3{
  margin-bottom: 0;
}

.footer-box__item__mail,
.footer-box__item__phone{
  text-decoration: none;
  color: #4D5053;
}

.footer-footer{
  padding-top: 35px;
  border-top: 1px solid #F5F5F5;
}

.footer-footer-box{
  gap: 15px;
}

.footer-footer__txt:nth-child(even){
  color: #CDA274;
}